# --- BACK-END ---
backend/venv/
backend/.venv/
backend/env/
backend/ENV/
backend/env.bak/
backend/venv.bak/

backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.Python
backend/pip-log.txt
backend/pip-delete-this-directory.txt

backend/db.sqlite3
backend/db.sqlite3-journal

backend/.env
backend/.secrets
backend/auth_token/

backend/.pytest_cache/
backend/.mypy_cache/
backend/.ruff_cache/
backend/celerybeat-schedule
backend/dump.rdb

backend/*.log
backend/logs/


# --- FRONT-END ---
frontend/edumind_frontend/node_modules/
frontend/edumind_frontend/jspm_packages/

frontend/edumind_frontend/dist/
frontend/edumind_frontend/out/
frontend/edumind_frontend/build/

frontend/edumind_frontend/*.log
frontend/edumind_frontend/npm-debug.log*
frontend/edumind_frontend/yarn-debug.log*
frontend/edumind_frontend/yarn-error.log*
frontend/edumind_frontend/pnpm-debug.log*

frontend/edumind_frontend/.env*.local
frontend/edumind_frontend/.env.local
frontend/edumind_frontend/.env.development.local
frontend/edumind_frontend/.env.test.local
frontend/edumind_frontend/.env.production.local

frontend/edumind_frontend/.vite/
frontend/edumind_frontend/.tsbuildinfo
